<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>Task management system</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/datetimepicker.css}" type="text/css">
    <script th:src="@{/js/jquery-3.4.1.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="application/javascript"></script>
    <script src="https://kit.fontawesome.com/36cdba2119.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.22"></script>
    </head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light navbar-expand-md bg-light sticky-top overlay">
        <div class="container-fluid">
            <a th:href="@{'/'}" class="navbar-brand"><img th:src="@{/img/logo.png}" alt="logo" width="50" href="50" style="border-radius: 50%;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item-active" sec:authorize="isAnonymous()">
                        <a th:href="@{'/login'}" class="btn btn-block button">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/task/own}" th:text="${username}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="JavaScript:void(0)" onclick="toLogout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <form th:action="@{'/signout'}" method="post" id = "logoutFormId">
        </form>
        <script type="text/javascript">
            function toLogout() {
                document.getElementById("logoutFormId").submit();
            }
        </script>
    </nav>

    <div class="container" id="app">
        <div class="row">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-4" v-for="task in tasks">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.title }}</h5>
                            <p class="card-text">{{ task.description }}</p>
                            <span><i class="fa-solid fa-calendar-days"></i></span>
                            <p class="card-text">{{ task.dueDate }}</p>
                            <span><i class="fa-solid fa-crown"></i></span>
                            <p class="card-text">{{ task.priority }}</p>
                            <span><i class="fa-solid fa-bars-progress"></i></span>
                            <p class="card-text">{{ task.status }}</p>
                            <span><i class="fa-solid fa-user-tie"></i></span>
                            <p class="card-text">{{ task.creator }}</p>
                            <span><i class="fa-solid fa-user-check"></i></span>
                            <p class="card-text">{{ task.assignees }}</p>
                            <a v-bind:href="'/task/' + task.id" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <pagination
                    :current="currentPage"
                    :total-pages="totalPages"
                    @page-changed="fetchTasks">
            </pagination>
        </div>

        <div style="position: fixed; bottom: 20px; right: 20px;" sec:authorize="isAuthenticated()">
            <button class="btn btn-success mr-0" @click.prevent="addModal">Add Task</button>
        </div>

        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="taskModalLabel">Add Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="taskForm" class="form-group" @submit.prevent="addTask()">
                            <div class="form-row">
                                <label>Title:
                                    <input type="text" value="" class="form-control" v-model="form.title">
                                </label>
                            </div>
                            <div class="form-row">
                                <label>Description:
                                    <input type="text" value="" class="form-control" v-model="form.description">
                                </label>
                            </div>
                            <div class="form-row">
                                <label for="datetimepicker">Date&Time</label>
                                <input id="datetimepicker" type="datetime-local" value="" class="form-control" v-model="form.dueDate">
                            </div>
                            <div class="form-row">
                                <label for="priority">Priority</label>
                                <select id="priority" class="form-control" v-model="form.priority">
                                    <option value="LOW">LOW</option>
                                    <option value="MIDDLE">MIDDLE</option>
                                    <option value="HIGH">HIGH</option>
                                </select>
                            </div>
                            <div class="form-row">
                                <label>Assignees:
                                    <select multiple class="form-control" name="users[]" v-model="form.assignees">
                                        <option v-for="user in users" :value="user.username">{{user.username}}</option>
                                    </select>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button form="taskForm" type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template id="pag">
        <div class="pagination">
            <div class="pagination__left">
                <a href="#" v-if="hasPrev()" @click.prevent="changePage(prevPage)">Previous</a>
            </div>
            <div class="pagination__mid">
                <ul>
                    <li v-if="hasFirst()"><a href="#" @click.prevent="changePage(1)">1</a></li>
                    <li v-if="hasFirst()">...</li>
                    <li v-for="page in totalPages">
                        <a href="#" @click.prevent="changePage(page)" :class="{ current: current == page }">
                            {{ page }}
                        </a>
                    </li>
                    <li v-if="hasLast()">...</li>
                    <li v-if="hasLast()"><a href="#" @click.prevent="changePage(totalPages)">{{ totalPages }}</a></li>
                </ul>
            </div>
            <div class="pagination__right">
                <a href="#" v-if="hasNext()" @click.prevent="changePage(nextPage)">Next</a>
            </div>
        </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.22"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script th:src="@{/js/pagination.js}"></script>
    <script th:src="@{/js/task.js}"></script>
    <script th:src="@{/js/datetime.js}"></script>

</body>
</html>