<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.default.min.css}">
    <script th:src="@{/js/jquery-3.4.1.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="application/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/owl.carousel.min.js}" type="application/javascript"></script>
    <script src="https://kit.fontawesome.com/73cbaad0ce.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap&subset=cyrillic-ext" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-expand-md bg-light sticky-top overlay">
        <div class="container-fluid">
            <a th:href="@{'/'}" class="navbar-brand"><img th:src="@{/img/logo.png}" alt="logo" width="50" href="50" style="border-radius: 50%;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item-active" sec:authorize="isAnonymous()">
                        <a th:href="@{'/login'}" class="btn btn-block button">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{'/prof/'}">Profile</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="JavaScript:void(0)" onclick="toLogout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <form th:action="@{'/signout'}" method="post" id = "logoutFormId">
        </form>
        <script type="text/javascript">
            function toLogout() {
                document.getElementById("logoutFormId").submit();
            }
        </script>
    </nav>

    <div class="container">
        <div class="align-items-center w-50 m-auto" style="min-height: 700px;">
            <form class="form-signin" method="post" th:action="@{'/auth'}">
                <p class="text-center"><img class="mb-4" th:src="@{/img/login.svg}" alt="Login" width="72" height="72"></p>
                <h1 class="h3 mb-3 font-weight-normal text-center">Login please</h1>

                <input style="border-radius: 23px;" type="email" id="inputEmail" class="form-control" placeholder="Email" name="user_email" required="" autofocus="">

                <input style="border-radius: 23px;" type="password" id="inputPassword" class="form-control mt-3" name="user_password" placeholder="Password}" required="">

                <button class="button w-100" type="submit">Login</button>

                <a th:href="@{register}">Register</a>
            </form>
        </div>
    </div>

</body>

</html>