<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.default.min.css}">
    <script th:src="@{/js/jquery-3.4.1.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="application/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/owl.carousel.min.js}" type="application/javascript"></script>
    <script src="https://kit.fontawesome.com/73cbaad0ce.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap&subset=cyrillic-ext" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light navbar-expand-md bg-light sticky-top overlay">
    <div class="container-fluid">
        <a th:href="@{'/'}" class="navbar-brand"><img th:src="@{/img/logo.png}" alt="logo" width="50" href="50" style="border-radius: 50%;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item-active" sec:authorize="isAnonymous()">
                    <a th:href="@{'/login'}" class="btn btn-block button">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{'/prof/'}">Profile</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="JavaScript:void(0)" onclick="toLogout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <form th:action="@{'/signout'}" method="post" id = "logoutFormId">
    </form>
    <script type="text/javascript">
        function toLogout() {
            document.getElementById("logoutFormId").submit();
        }
    </script>
</nav>

<div class="container">

    <div class="row">
        <div class="row col-12 w-100">
            <div class="alert alert-danger col-12" role="alert" th:if="${notUniqueEmail}">
                <p class="text-center">Email is not unique</p>
            </div>

            <div class="alert alert-danger col-12" role="alert" th:if="${passwordNotMatch}">
                <p class="text-center">Passwords do not match</p>
            </div>

            <div class="alert alert-success col-12" role="alert" th:if="${success}">
                <p class="text-center">Registered successfully</p>
                <p class="text-center"><a href="/login">Login</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 w-50 m-auto align-items-center">
                <form class="form-signin" method="post" th:action="@{/signup}">
                    <p class="text-center"><img class="mb-4" th:src="@{/img/login.svg}" alt="Register" width="72" height="72"></p>

                    <h1 class="h3 mb-3 font-weight-normal text-center">Register please</h1>

                    <input style="border-radius: 23px;" type="text" id="inputFirstName" name="username" class="form-control" placeholder="Username" required="" autofocus="">

                    <input style="border-radius: 23px;" type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required="" autofocus="">

                    <input style="border-radius: 23px;" type="password" id="password1" name="password1" class="form-control" placeholder="Password" required="">

                    <input style="border-radius: 23px;" type="password" id="password2" name="password2" class="form-control" placeholder="Confirm password" required="">

                    <button class="btn button btn-block w-100" type="submit">Register</button>

                </form>
            </div>

        </div>

        <script>
            let password = document.getElementById("password1")
                , confirm_password = document.getElementById("password2");

            function validatePassword(){
                if(password.value !== confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords Don't Match");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }

            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
        </script>

    </div>

</div>

</body>

</html>
