<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>Task management system</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <script th:src="@{/js/jquery-3.4.1.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="application/javascript"></script>
    <script src="https://kit.fontawesome.com/36cdba2119.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.22"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light navbar-expand-md bg-light sticky-top overlay">
    <div class="container-fluid">
        <a th:href="@{'/'}" class="navbar-brand"><img th:src="@{/img/logo.png}" alt="logo" width="50" href="50" style="border-radius: 50%;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item-active" sec:authorize="isAnonymous()">
                    <a th:href="@{'/login'}" class="btn btn-block button">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/task/own}" th:text="${username}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="JavaScript:void(0)" onclick="toLogout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <form th:action="@{'/signout'}" method="post" id = "logoutFormId">
    </form>
    <script type="text/javascript">
        function toLogout() {
            document.getElementById("logoutFormId").submit();
        }
    </script>
</nav>

<div class="container" id="app">
    <div class="row">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-12">
                <div class="card" style="width: 36rem;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${task.title}"></h5>
                        <p class="card-text" th:text="${task.description}"></p>
                        <span><i class="fa-solid fa-calendar-days"></i></span>
                        <p class="card-text" th:text="${task.dueDate}"></p>
                        <span><i class="fa-solid fa-crown"></i></span>
                        <p class="card-text" th:text="${task.priority}"></p>
                        <span><i class="fa-solid fa-bars-progress"></i></span>
                        <p class="card-text" th:text="${task.status}"></p>
                        <span><i class="fa-solid fa-user-tie"></i></span>
                        <p class="card-text" th:text="${task.creator}"></p>
                        <span><i class="fa-solid fa-user-check"></i></span>
                        <p class="card-text" th:text="${task.assignees}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.22"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>

</body>
</html>